- @title = " | Calendar"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-events2.jpg"}



.body
  .center
    .content
      #two.sidebar.right

      #two.main
        .content
          .section.no-image
            %h1 Small Business Vendor Event

            %h4 presented by AnnaKnows
            %p
              %b Date:
              November 6, 2011
              %br
              %b Time:
              1:00pm-4:00pm
              %br
              %b Location:
              Omni Hotel Westside, 13210 Katy Freeway, Houston, TX 77079
              %br
              %b Details:
              Come support and shop a great variety of businesses. Ready to do some Holiday shopping? Several businesses will have plenty of inventory on the spot and each business will that their own special deals going on just for you. Plan to be there.
              %br
              FOR MORE INFORMATION CONTACT ANNA JENNINGS AT 713.398.8474 OR EMAIL AT
              %a{:href => "mailto:annaknows@ymail.com"}annaknows@ymail.com.

          .spacer
          .section.no-image
            %h1 Tax Workshop for Small Businesses

            %p
              %b Date:
              January 15, 2012
              %br
              %b Time:
              8:00am-12:00pm Noon
              %br
              %b Location:
              American Legion, 3415 Aldine Mail Rt., Houston, TX 77039
              %br
              %b Registration Fee:
              $25.00
              %br
              %b On-site Registration Fee:
              $30.00
              %br
              %b Details:
              Go to 
              %a{:href => "http://www.eventbrite.com/event/1812845269", :target => "_blank"}eventbrite.com
              to register.
