- @title = " | Calendar"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-events2.jpg"}



.body
  .center
    .content
      #two.sidebar.right

      #two.main
        .content
          .section.no-image
            %h1 Tax Workshop for Small Businesses

            %p
              %b Date:
              January 15, 2012
              %br
              %b Time:
              8:00am-12:00pm Noon
              %br
              %b Location:
              American Legion, 3415 Aldine Mail Rt., Houston, TX 77039
              %br
              %b Registration Fee:
              $25.00
              %br
              %b On-site Registration Fee:
              $30.00
              %br
              %b Details:
              Go to 
              %a{:href => "http://www.eventbrite.com/event/1812845269", :target => "_blank"}eventbrite.com
              to register.
