- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Contact Us
          %p
            %sub PHONE
            %br
            803-702-2055
          %p
            %sub EMAIL
            %br
            %a{:href => "mailto:info@coffeeandconversation.com"} info@coffeeandconversation.com
      

      .main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Send Us Your Questions
            %p Please feel free to contact C&C, we will be delighted to hear from you. Let us provide all your coffee needs.
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "710", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/x7w4q5/", :width => "100%", :border => "none"}       
