// NON-PROFIT & FOUNDATIONS

.section.no-image
  %h1=@link6K[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Be the first to advertise here!
  %p
    %a{:href => "/services"} Find out how >>
  


