- @title = " | Calendar"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-7.jpg"}



.body
  .center
    .content
      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Our Events
            
            %table#calendar
              %tr.month
                %td{:colspan => "7"} October
              %tr.header
                %td.we Sunday
                %td Monday
                %td Tuesday
                %td Wednesday
                %td Thursday
                %td Friday
                %td.we Saturday
              %tr
                %td.we
                  %p#d9 &nbsp;
                %td
                  %p#d10 &nbsp;
                %td
                  %p#d11 &nbsp;
                %td
                  %p#d12 &nbsp;
                %td
                  %p#d13 &nbsp;
                %td
                  %p#d14 &nbsp;
                %td.we
                  %p#d15
                    %a{:href => "#", :target => "_blank"}Motown In H-Town
                    presented by Xi Eta Lamba Alpha Chapter
              %tr
                %td.we
                  %p#d16 &nbsp;
                %td
                  %p#d17 &nbsp;
                %td
                  %p#d18 &nbsp;
                %td
                  %p#d19 &nbsp;
                %td
                  %p#d20 &nbsp;
                %td
                  %p#d21 &nbsp;
                %td.we
                  %p#d22 &nbsp;
              %tr
                %td.we
                  %p#d23 &nbsp;
                %td
                  %p#d24 &nbsp;
                %td
                  %p#d25 &nbsp;
                %td
                  %p#d26 &nbsp;
                %td
                  %p#d27 &nbsp;
                %td
                  %p#d27 &nbsp;
                %td.we
                  %p#d29 &nbsp;
              %tr
                %td.we
                  %p#d30 &nbsp;
                %td
                  %p#d31 &nbsp;
                %td
                  %p &nbsp;
                %td
                  %p &nbsp;
                %td
                  %p &nbsp;
                %td
                  %p &nbsp;
                %td.we
                  %p &nbsp;
              %tr.month
                %td{:colspan => "7"} November
              %tr
                %td.we
                  %p &nbsp;
                %td
                  %p &nbsp;
                %td
                  %p#d1 &nbsp;
                %td
                  %p#d2 &nbsp;
                %td
                  %p#d3 &nbsp;
                %td
                  %p#d4 &nbsp;
                %td.we
                  %p#d5 &nbsp;
              %tr
                %td.we
                  %p#d6
                    %a{:href => "#", :target => "_blank"}AnnaKnows Small Business Vendor Event
                %td
                  %p#d7 &nbsp;
                %td
                  %p#d8 &nbsp;
                %td
                  %p#d9 &nbsp;
                %td
                  %p#d10 &nbsp;
                %td
                  %p#d11 &nbsp;
                %td.we
                  %p#d12 &nbsp;
              

            %p
              %sup *Includes: Company Name, Contact Name, Email Address, Image, Description, Website Link, and special offer for AnnaKnows visitors. Descriptions vary by exposure package&mdash;Business Listing: 150 characters, Exposure: 250 characters, Mega Exposure: 500 characters.

          .spacer
