// EVENT / PARTY PLANNING

.section.no-image
  %h1=@link6H[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 La Tranquila Ranch
  %p
    %b Sandra Sanchez
    = " | "
    %a{:href => "http://www.latranquilaranch.com", :target => "_blank"} latranquilaranch.com
    = " | "
    %a{:href =>"mailto:sandra@latranquilaranch.com"} sandra@latranquilaranch.com
  %img{:src => "/images/businesses/8-latranquila.jpg"}
  %p
    %b Details:
    %br
    La Tranquila Ranch is located in Tomball, TX, between 45N and HWY 249 N. 41 acres, 2 venues available to fit any budget. Ballroom can hold up to 250, Villa up to 150. Outside vendors welcomed. Outside ceremonies, indoor reception. Call for a tour 281-576-8882. 
  
.section.no-image
  %h4 Colorful Creations
  %p
    %b Natichia Gonzales
    = " | "
    %a{:href => "http://www.facebook.com/natichia?ref=ts", :target => "_blank"} facebook.com/natichia
    = " | "
    %a{:href =>"mailto:natichiagonzales@sbcglobal.net"} natichiagonzales@sbcglobal.net
  //%img{:src => "/images/businesses/8-colorfulcreations.jpg"}
  %p
    %b Details:
    %br
    At Colorful Creations, Balloons for all Occasions! We create beautiful balloon decor with style. With over 10 years of balloon decorating experience. From Weddings, Quincea&ntilde;eras and Birthday Parties or any special occasion that requires a little imagination and creativity you need not look any further!
  %a{:name => "hide2", :onclick => "return toggleMe('hide2')"}
  #hide2{:style => "display:none"}
    %p We are committed to providing you with affordable on site professional decor for your special occasion. We incorporate items such as floral, fabric and lighting to create a beautiful and inviting atmosphere.
    %p For a firm quote we suggest that you make an appointment for us to see you at the place of venue, or your home where you can see photos of our previous work!
    %p We hope to do business with you.
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide2')", :href => "#hide2"}^ Show / Hide More
