.font-helvetica, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container, .container-setup h1, .body .center .content .left a.container h1, .body .center .content .middle a.container h1, .body .center .content .right a.container h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

.corner-top-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-top {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-left {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-all, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container, .container-setup p.link, .body .center .content .left a.container p.link, .body .center .content .middle a.container p.link, .body .center .content .right a.container p.link {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.clearfix, .body, .body .center, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container {
  zoom: 1;
}
.clearfix:before, .body:before, .body .center:before, .container-setup:before, .body .center .content .left a.container:before, .body .center .content .middle a.container:before, .body .center .content .right a.container:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .body:after, .body .center:after, .container-setup:after, .body .center .content .left a.container:after, .body .center .content .middle a.container:after, .body .center .content .right a.container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .body .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, .body .center, .body, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container, .container-setup h1, .body .center .content .left a.container h1, .body .center .content .middle a.container h1, .body .center .content .right a.container h1, .container-setup h3, .body .center .content .left a.container h3, .body .center .content .middle a.container h3, .body .center .content .right a.container h3, .container-setup p.link, .body .center .content .left a.container p.link, .body .center .content .middle a.container p.link, .body .center .content .right a.container p.link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque, .container-setup:hover, .body .center .content .left a.container:hover, .body .center .content .middle a.container:hover, .body .center .content .right a.container:hover {
  opacity: 0.92 !important;
  filter: alpha(opacity=92) !important;
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #666666 !important;
  font-weight: bold;
}

.font-helvetica, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container, .container-setup h1, .body .center .content .left a.container h1, .body .center .content .middle a.container h1, .body .center .content .right a.container h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

.corner-top-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-top {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-bottom {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-left {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-all, .container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container, .container-setup p.link, .body .center .content .left a.container p.link, .body .center .content .middle a.container p.link, .body .center .content .right a.container p.link {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.body {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.body .center {
  padding: 15px 0;
  border-left: 1px solid #911b56;
  border-right: 1px solid #911b56;
}
.body .center .content {
@extent .box;
  width: 900px;
  margin: 0 auto;
  padding: 0;
}
.body .center .content .left a.container {
  margin: 0px 29px 0 0;
  background: transparent url(/images/home_left.jpg) no-repeat;
}
.body .center .content .middle a.container {
  margin: 0px 29px 0 0;
  background: transparent url(/images/home_center.jpg) no-repeat;
}
.body .center .content .right a.container {
  margin: 0;
  background: transparent url(/images/home_right.jpg) no-repeat;
}

.container-setup, .body .center .content .left a.container, .body .center .content .middle a.container, .body .center .content .right a.container {
  position: relative;
  display: inline;
  float: left;
  width: 280px;
  height: 200px;
  border: 1px solid #499ad6;
  z-index: 20;
}
.container-setup h1, .body .center .content .left a.container h1, .body .center .content .middle a.container h1, .body .center .content .right a.container h1 {
  position: absolute;
  top: 22.5px;
  left: 22.5px;
  margin: 0 22.5px 0 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #5ea6db;
  word-spacing: 0.1em;
  letter-spacing: -0.05em;
}
.container-setup h3, .body .center .content .left a.container h3, .body .center .content .middle a.container h3, .body .center .content .right a.container h3 {
  font-family: "EmbedFont-1";
  position: absolute;
  top: 75px;
  left: 22.5px;
  margin: 0 110px 12px 0;
  color: white;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.3em;
}
.container-setup p.link, .body .center .content .left a.container p.link, .body .center .content .middle a.container p.link, .body .center .content .right a.container p.link {
  font-family: "EmbedFont-1";
  position: absolute;
  bottom: 15px;
  left: 22.5px;
  display: inline;
  color: #a71f63;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
}
.container-setup:hover, .body .center .content .left a.container:hover, .body .center .content .middle a.container:hover, .body .center .content .right a.container:hover {
  text-decoration: none;
}
