.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, #header, #header .center {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

.corner-top-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-top {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-bottom, ul#topnav li .sub {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-left {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, #header .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, #header .center, #header, #header .center #logo1, ul#topnav a.topnav, ul#topnav .sub ul li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque, #header .center #logo1 a:hover {
  opacity: 0.92 !important;
  filter: alpha(opacity=92) !important;
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #666666 !important;
  font-weight: bold;
}

.font-helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, #header, #header .center {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

.corner-top-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-top {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-bottom, ul#topnav li .sub {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-left {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#header {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #499ad6;
}
#header .center #logo1 {
  position: absolute;
  top: 15px;
  left: 35px;
  margin: 0;
}
#header .center #logo1 a {
  display: block;
  margin: 0;
  padding: 0;
}
#header .center #logo1 a img {
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

ul#topnav {
  font-family: "EmbedFont-1";
  display: inline;
  float: right;
  margin: 20px 1px 0 235px;
  padding: 0;
  color: #499ad6;
  font-size: 11px;
  letter-spacing: 0.05em;
  list-style: none;
  z-index: 50;
}

ul#topnav li {
  position: relative;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

ul#topnav li a {
  display: inline;
  float: left;
  text-decoration: none;
}

ul#topnav a.topnav {
  margin: 6px -1px 0 0;
  padding: 0.5em 1.8em 0.4em 1.8em;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #5ea6db;
  border-right: 1px solid #5ea6db;
}

ul#topnav li:hover a.topnav, ul#topnav li a.topnav:hover {
  color: white;
  background: #5ea6db;
}

ul#topnav li .sub {
  display: none;
  position: absolute;
  display: inline;
  float: left;
  top: 2.7em;
  left: 0px;
  background: #499ad6;
  padding: 5px 0 6px 0;
  z-index: 50;
}

ul#topnav li .row {
  display: inline;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

ul#topnav li .sub ul {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#topnav .sub ul li {
  width: 140px;
}

ul#topnav .sub ul li h2 a {
  margin: 0 0 0.5em 0;
  background-image: none;
}

ul#topnav .sub ul li a {
  display: block;
  float: none;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.5em 1em;
  color: white;
  background: #499ad6;
  text-indent: 0;
  text-decoration: none;
}

ul#topnav .sub ul li a:hover {
  color: white;
  background: #8ccaee;
}

ul#topnav .sub ul li h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  color: #999999;
  font-weight: bolder;
}

.navigation-hover, body.one a#one, body.two a#two, body.five a#five, body.four a#four, body.three a#three, body.six a#six {
  color: white;
}
