.font-helvetica, #slider-wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base, .image-slider .center .captionContainer h3 {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .image-slider .center .captionContainer p.link {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse, .image-slider .center .captionContainer p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

.corner-top-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-top {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-bottom, .nivoSlider img {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-left {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-all, .image-slider .center .captionContainer p.link, .nivoSlider, #slider-wrapper, #slider {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.center-container, .image-slider .center {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
}

.box, .center-container, .image-slider .center, .image-slider, .image-slider .center .captionContainer, .image-slider .center .captionContainer h1, .image-slider .center .captionContainer h3, .image-slider .center .captionContainer p.link, .nivoSlider, .nivoSlider img, #slider-wrapper, #slider {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.opaque {
  opacity: 0.92 !important;
  filter: alpha(opacity=92) !important;
}

.contact-form {
  overflow: hidden;
  margin-bottom: -23px;
}
.contact-form iframe {
  position: relative;
  top: -38px;
}

p {
  font-size: inherit;
  color: inherit;
}

b {
  color: #666666 !important;
  font-weight: bold;
}

.font-helvetica, #slider-wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

.font-trebuchet, .font-base, .image-slider .center .captionContainer h3 {
  font-family: "Trebuchet MS", "Trebuchet", "Times New Roman";
}

.bg-gradient-primary, .image-slider .center .captionContainer p.link {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8ccaee), to(#5ea6db));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8ccaee, #5ea6db);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8ccaee, endColorstr=#5ea6db)";
}

.bg-gradient-reverse, .image-slider .center .captionContainer p.link:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#5ea6db), to(#8ccaee));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #5ea6db, #8ccaee);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5ea6db, endColorstr=#8ccaee)";
}

.bg-gradient-secondary {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#e02877), to(#a71f63));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #e02877, #a71f63);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e02877, endColorstr=#a71f63)";
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, b::selection, a::selection {
  background: #c5daf1;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, b::-moz-selection, a::-moz-selection {
  background: #c5daf1;
}

.corner-top-left {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}

.corner-top-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-bottom-left {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-bottom-right {
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-top {
  -moz-border-radius-topleft: 0px;
  -khtml-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.corner-right {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-bottom, .nivoSlider img {
  -moz-border-radius-bottomleft: 0px;
  -khtml-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.corner-left {
  -moz-border-radius-topright: 0px;
  -khtml-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -khtml-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.corner-all, .image-slider .center .captionContainer p.link, .nivoSlider, #slider-wrapper, #slider {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.image-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.image-slider .center {
  padding: 30px 0 15px;
  border-left: 1px solid #911b56;
  border-right: 1px solid #911b56;
}
.image-slider .center .captionContainer {
  position: absolute;
  width: 900px;
  top: 200px;
  left: 0;
  margin: 0;
  padding: 5px;
  background: #a71f63;
}
.image-slider .center .captionContainer h1 {
  margin: 5px 15px;
  padding: 0;
  color: #8ccaee;
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
  line-height: 1em;
  word-spacing: 0.1em;
  letter-spacing: -0.05em;
}
.image-slider .center .captionContainer h3 {
  position: relative;
  top: 0px;
  margin: 0 15px 10px;
  padding: 0;
  color: #efefef;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  line-height: 1.1em;
}
.image-slider .center .captionContainer p.link {
  position: absolute;
  bottom: 15px;
  right: 30px;
  color: white;
  border: 1px solid #5ea6db;
}
.image-slider .center .captionContainer p.link a {
  font-family: "EmbedFont-1";
  display: block;
  padding: 9px 2em 8px 2em;
  color: inherit;
  font-size: 11px;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

.nivoSlider {
  position: relative;
  width: 900px;
  height: 300px;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 300px;
}

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}

.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}

.nivo-caption {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  color: black;
  opacity: 0.8;
  width: 100%;
  z-index: 8;
}

.nivo-caption p {
  padding: 5px;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

.nivo-directionNav {
  width: 900px;
  margin: 0;
  padding: 0;
}

.nivo-directionNav a {
  position: absolute;
  top: 79%;
  z-index: 9;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background: url(/images/nivo/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

a.nivo-prevNav {
  right: 55px;
}

a.nivo-nextNav {
  right: 15px;
  background-position: -30px 0;
}

.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: bold;
}

#slider-wrapper {
  position: relative;
  width: 900px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #dddddd;
  background: #efefef;
}

#slider {
  position: relative;
  width: 900px;
  height: 300px;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#slider a {
  border: 0;
  display: block;
}

.nivo-controlNav {
  position: absolute;
  left: 260px;
  bottom: -42px;
}

.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(/images/nivo/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

.nivo-controlNav a.active {
  background-position: 0 -22px;
}

.nivo-caption {
  position: absolute;
  top: 0;
  height: 300px;
}

.nivo-caption {
  text-shadow: none;
}

.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}
