// HOME & GARDEN

.section.no-image
  %h1=@link6J[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 alex+von by Danielle Woods
  %p
    %b Danielle Woods
    = " | "
    %a{:href => "http://www.alexandvon.com/brandproducts/5-weedecor.aspx?sellerid=512", :target => "_blank"} alexandvon.com
    = " | "
    %a{:href =>"mailto:dwoodsbpp@gmail.com"} dwoodsbpp@gmail.com
  %img{:src => "/images/businesses/10-alexvon.jpg"}
  %p
    %b Details:
    %br
    weeDECOR creates a signature line of decorative wall decals inspired by color, great design and anything that makes children happy. Their mission is to help parents create a more personal, playful space for their child. Mix-and-match hundreds of designs to create a custom look.
  %a{:name => "hide2", :onclick => "return toggleMe('hide2')"}
  #hide2{:style => "display:none"}
    %p Choose from an inspiring selection of decorative letters, colors, and styles to help you create the perfect nursery, kid's room, or playroom. Also a perfect gift for new parents! Perfect letters to use as an accent to any kitchen or bathroom project!
    %p I LOVE weeDecor because every decal is easy to apply and remove, and is reusable. They won't damage your walls and they adhere to both smooth and textured surfaces. weeDECOR wall decals are made out of high quality, eco-friendly fabric. Made in the USA to guarantee you a premium product. I offer FREE SHIPPING on orders of $50 or more!
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide2')", :href => "#hide2"}^ Show / Hide More
  
.section.no-image
  %h4 Heaven's Garden Lawn & Landscaping
  %p
    %b Blanca Edwards
    = " | "
    %a{:href => "http://www.facebook.com/heavensgardenlawn", :target => "_blank"} facebook.com/heavensgardenlawn
    = " | "
    %a{:href =>"mailto:heavensgarden@hotmail.com"} heavensgarden@hotmail.com
  //%img{:src => "/images/businesses/10-heavens.jpg"}
  %p
    %b Details:
    %br
    Lawn Mowing - Starting at $30: We are a lawn and landscaping company with 27 years of experience. Our prices are fair. We are dependable, honest and have many references if needed. We schedule promptly and quickly. Hours: 8 am - 7 pm, Monday - Saturday, 832.202.5477. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p Our services include: lawn maintenance, mowing-all lawn areas, weedeating-where the mowers cannot go, edging-all sidewalks, street curbs, driveways, blowing of all hard surface areas, one time clean ups, shrub trimming, mulching of flowerbeds, cleaning of flowerbeds, sodding, creating and designing flowerbeds, seasonal color changeouts, and fertilization treatments.
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
