// BUSINESS / PROFESSIONAL SERVICES

.section.no-image
  %h1=@link6D[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Metoyer Insurance Agency
  %p
    %b Darius Metoyer
    = " | "
    %a{:href => "http://www.facebook.com/metoyerinsurance", :target => "_blank"} facebook.com/metoyerinsurance
    = " | "
    %a{:href =>"mailto:metoyerinc@gmail.com"} metoyerinc@gmail.com
  %img{:src => "/images/businesses/4-metoyer.jpg"}
  %p
    %b Details:
    %br
    Metoyer Insurance is a full service insurance agency that specializes in Auto, Home, Life and Business insurance. We are available to meet with at your convenience at your home or at our office. We will provide you with a high lever of customer service and if your not impressed we want to know about it. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p
      9320 Eastex Freeway
      %br
      Houston, TX 77093
      %br
      (713) 697-0831
    %p Auto, Home, Life & Business
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
  
.section.no-image
  %h4 Resumes by Valerie
  %p
    %b Valerie Wells
    = " | "
    %a{:href => "http://www.resumesbyvalerie.com", :target => "_blank"} resumesbyvalerie.com
    = " | "
    %a{:href =>"mailto:wvalerie@swbell.net"} wvalerie@swbell.net
  %img{:src => "/images/businesses/4-resumesbyvalerie.jpg"}
  %p Resume Specialist/Notary/Credit Repair
  %p Resumes, Cover Letters, Thank You Letters, Job Placement Assistance, Job Interviewing Tips, Typing Services, Notary, Credit Repair/Restoration Services.
