// DIRECT SALES COMPANIES

.section.no-image
  %h1=@link6G[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Mary Kay by Stefany
  %p
    %b Stefany Feeney-Owens
    = " | "
    %a{:href => "http://www.marykay.com/stefanyfeeney", :target => "_blank"} marykay.com/stefanyfeeney
    = " | "
    %a{:href =>"mailto:stefanyfeeney@marykay.com"} stefanyfeeney@marykay.com
  %img{:src => "/images/businesses/7-marykay.jpg"}
  %p
    %b Details:
    %br
    Hello! I am a Sales Director with Mary Kay!! Mary Kay Cosmetics offers the Best Selling Brand of Anti-Aging Skin Care and Mineral Makeup!! And has been in business for almost 50 Years! Mary Kay also offers an Amazing Home Based Business Opportunity with the highest Direct Sales Commissions and a Career Car Program!! 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p I offer the following services! Private Skin Care/Color Consultations and Home Parties including Spa Facials with Microdermabrasion Treatment, Glamour Application Techniques, Lash Bash Parties, New Year, New You Parties, to name a few! I also offer Bridal Services including Pre Wedding Consultations for Flawless Skin for your Wedding Day, Color Makeovers, and Day of Makeup! And Glamour Shot Events for those looking for a fun event with a Professional Photographer and a 5x7 Professionally retouched photo. Ask me about a Personalized Party Theme or Idea!! 
    %p
      In a Hurry? I offer "On the Go Services" and "In Office Pampering Sessions" - during lunch or at staff meetings.
    %p
      And I have a Fabulous Hostess Program where you can earn $100 in FREE Mary Kay Products! And always offer Great Specials!!
    %p
      Looking to Earn Extra Income? Listen to the Mary Kay Opportunity and Give me your opinion and I will give you a FREE Lipgloss!! You can work this business, Part-time, Full-time or Hobby Time!! Whether you want to earn an EXTRA $500 or $1000 a month or a Six Figure Income, this business maybe for you!! You won't know until you listen!!
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
  
.section.no-image
  %h4 Thirty-One Gifts by Cindy
  %p
    %b Name	Cindy Church
    = " | "
    %a{:href => "http://www.mythirtyone.com/cindychurch", :target => "_blank"} mythirtyone.com/cindychurch
    = " | "
    %a{:href =>"mailto:cindy_church81@yahoo.com"} cindy_church81@yahoo.com
  %img{:src => "/images/businesses/7-thirtyone.jpg"}
  %p
    %b Details:
    %br
    Thirty-One Gifts is a faith-based direct sales company that offers fun, functional, fashionable, and personalizable tote bags, purses, thermals, wallets and more! The company motto is to celebrate, encourage, and reward women! I love to party-with-a-purpose and help my hostesses earn fabulous products for FREE!
  %a{:name => "hide2", :onclick => "return toggleMe('hide2')"}
  #hide2{:style => "display:none"}
    %p The Thirty-One business opportunity is second to none! I am looking for ladies who are ready to join in this adventure with me either through booking a party, joining my team, or both! Join the adventure of Thirty-One today!
    %p
      %b Special Offer to AnnaKnows Visitors:
      %br
      AnnaKnows visitors receive 10% off their order
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide2')", :href => "#hide2"}^ Show / Hide More
