// ARTS & CRAFTS

.section.no-image
  %h1=@link6A[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Life in Print Photography
  %p
    %b April Lewis
    = " | "
    %a{:href => "http://www.lifeinprintphotography.net", :target => "_blank"} lifeinprintphotography.net
    = " | "
    %a{:href =>"mailto:april@lifeinprintphotography.net"} april@lifeinprintphotography.net
  %img{:src => "/images/businesses/1-lifeinprint.jpg"}
  %p
    %b Details:
    %br
    Life In Print Photography wants to capture your memories in print, so you can remember them for life. We specialize in custom and creative sessions to fit our client's photography needs. Working on-location or in the client's home, gladly traveling for our clients to insure each session is convenient and fun. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p
      Life In Print Photography provides a variety of photography services in the Houston and other surrounding areas. We offer Weddings & Bridal Photography, Portraiture of all types (Engagements, Maternity, Newborn, Family &amp; Seniors), Corporate headshots and all of your special events and parties. Great photography doesn't have to be expensive, try one of our budget friendly mini sessions! Call today to hear about our specials, mention you saw this ad on Anna Knows and get two free 8x10s with any session.
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
  


