- @title = " | About Us"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Contact Us
          %p
            %sub PHONE
            %br
            803-702-2055
          %p
            %sub EMAIL
            %br
            %a{:href => "mailto:info@coffeeandconversation.com"} info@coffeeandconversation.com
      

      #two.main
        .content
          .section.no-image
            %h1 About Coffee &amp; Conversation
            %h4 Only the Best
            %p C&amp;C roasted coffee is derived from the finest coffee harvesting farms from around the world, providing the highest quality coffee beans from organic and fair trade certified providers. We strive to deliver the best coffee you've ever tasted.
            %h4 Our Uniqueness
            %p By creating custom blends, each batch of C&amp;C coffee has a unique taste. We deliver superb flavors and aromas as distinct as our personalities. Enjoy, share, and don't forget the conversation!
            %h4 Another Header
            %p More of your text goes here... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.