- @title = " | Terms of Service"
- @subtitle = ""
- @body_class = "none"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


.body
  .center
    .content
      #two.sidebar.right
      

      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Terms of Service
            %h4 Terms
            %p By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The contents contained in this web site are protected by applicable copyright and trade mark law.

            %h4 Disclaimer
            %p
              The contents on AnnaKnows' web site are provided "as is." AnnaKnows makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, AnnaKnows does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the contents on its Internet web site or otherwise relating to such contents or on any sites linked to this site. 

            %h4 Revisions to Service and Prices
            %p
              The content appearing on AnnaKnows' web site could include technical, typographical, or photographic errors. AnnaKnows does not warrant that any of the content on its web site is accurate, complete, or current. AnnaKnows may make changes to the content on its web site at any time without notice. Prices of all services, including but not limited to monthly subscriptions fees to the service, are subject to change upon 30 days notice from us.  Such notice may be provided at any time by posting the changes to the AnnaKnows website.

            %h4 Links
            %p
              AnnaKnows has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by AnnaKnows of the site. Use of any such linked web site is at the user's own risk.

            %h4 Site Terms of Use Modifications
            %p
              AnnaKnows may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.

            %h4 Governing Law
            %p
              Any claim relating to AnnaKnows' web site shall be governed by the laws of the State of Texas without regard to its conflict of law provisions.

            %h4 Subscription Cancellations and Termination
            %p
              You (Business Owner) are solely responsible for properly cancelling your subscription with AnnaKnows.  You can cancel your subscription by sending 30 day notice of cancellation to
              %a{:href=>"mailto:cancel@annaknows.com"}cancel@annaknows.com
              All of your content will be immediately deleted from the website upon cancellation.  This information cannot be recovered once your account has been canceled.  In the case of a Monthly subscription, if you cancel your subscription before the end of your current paid up month, your cancellations will take effect immediately and you will not be charged again.  When paid for a full year subscription, there are no refunds, no exceptions.  AnnaKnows, in its sole discretion, as the right to suspend or terminate your account and refuse any and all current or future use of this service, or any other AnnaKnows service, for any reason at any time. Such termination of this service will result in the deactivation or deletion of your account.  AnnaKnows reserves the right to refuse service to anyone for any reason at any time.

          .spacer

