// FOOD

.section.no-image
  %h1=@link6I[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Organo Gold by Nadi
  %p
    %b Nadi Elmore
    = " | "
    %a{:href => "http://asipofwealth.organogold.com", :target => "_blank"} http://asipofwealth.organogold.com
    = " | "
    %a{:href =>"mailto:asipofwealth10@gmail.com"} asipofwealth10@gmail.com
  %img{:src => "/images/businesses/9-organogold.jpg"}
  %p
    %b Details:
    %br
    Do you or anyone you know drink coffee or tea at least occasionally? 
    %br
    Let me introduce you to the coffee that pays...In health and wealth. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p
      What regular coffee does: dehydrates, raises stress levels, raises blood pressure, very acidic & toxic, coffee jitters & caffeine crash.
      %br
      Vs.
      %br
      What our coffee does: balances PH level, provides energy, oxygenates the body, boosts immune system, increases stamina & natural body detoxification.
    %p
      Contact me for a FREE sample of our Gourmet Coffee or Tea, Nadi 832-814-0408.
      %br
      We specialize in fundraisers & events as well.
      %br
      *Distributor Opportunities Available*
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More