- @title = " | Businesses"
- @subtitle = ""
- @body_class = "six"
- @section = params[:category] || "all"

- @link6 = ["Businesses", "/businesses?category=all"]
- @link6A = ["Arts &amp; Crafts", "/businesses?category=artscrafts"]
- @link6B = ["Beauty &amp; Health", "/businesses?category=beautyhealth"]
- @link6C = ["Books &amp; Magazines", "/businesses?category=booksmags"]
- @link6D = ["Business / Professional Services", "/businesses?category=business"]
- @link6E = ["Clothing &amp; Accessories", "/businesses?category=clothing"]
- @link6F = ["Computers &amp; Media", "/businesses?category=computers"]
- @link6G = ["Direct Sales Companies", "/businesses?category=directsales"]
- @link6H = ["Event / Party Planning", "/businesses?category=events"]
- @link6I = ["Food", "/businesses?category=food"]
- @link6J = ["Home &amp; Garden", "/businesses?category=homegarden"]
- @link6K = ["Non-profit / Foundations", "/businesses?category=nonprofit"]
- @link6L = ["Online Shopping / Botiques", "/businesses?category=onlineshop"]
- @link6M = ["Personal Services", "/businesses?category=personal"]
- @link6N = ["Real Estate", "/businesses?category=realestate"]
- @link6O = ["Travel / Transportation", "/businesses?category=travel"]
- @link6P = ["Web / Internet", "/businesses?category=web"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}

.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-businesses.jpg"}

.body
  .center
    .content
      .sidebar.right

      .main
        .content
          = render "/businesses/" + @section + "/index.haml"              
          
