- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #three.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Our Services
            %p
              Promoting and advertising businesses to thousands of online connections at an affordable cost.
              %br
              Advertisment on website
              %br
              Vendor, Business2Business and Networking events.


          .spacer
              
              
      #three.sidebar.right
        .text
          %h1 Text Sidebar
          %h3 Subtitle Text
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .button
          %h1 Button Sidebar
          %h3 Subtitle Text
          %p.link
            %a{:href => "/path"} Link Text
        .form
          %h1 Form Sidebar
          .contact-form
            %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "440", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/s7p0s9/", :border => "none"}      
