- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}

.listings
  .center
    .content
      .main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Our Services
            %p
              Promoting and advertising businesses to thousands of online connections at an affordable cost.
              %br
              Compare each of our exposure packages below.
      .left
        %a.container{:href => "/lv1"}
          %h1 Business Listing
          %h3
            Business Listing*
            %br
            1 Category
            %br
            1x Social Media Post
            %br
            Special offers for AnnaKnows events
          %h3
            $25/month or $250/year
          %p.link Get Started  >
      .middle
        %a.container{:href => "/lv2"}
          %h1 Gold
          %h3 
            Business Listing*
            %br
            Social Media Links
            %br
            Monthly Promotion
            %br
            Limited Event Posting
            %br
            Special offers for AnnaKnows events
          %h3
            $75/month or $800/year
          %p.link Get Started  >
      .right
        %a.container{:href => "/lv3"}
          %h1 Platinum
          %h3 
            Business Listing*
            %br
            Social Media Links
            %br
            Weekly Promotion
            %br
            Unlimited Event Posting
            %br
            Top Referrals
            %br
            Special offers for AnnaKnows events
            %br
            Exclusive Monthly Gathering
          %h3
            $125/month or $1300/year
          %p.link Get Started  >
      .main
        .content
          .section.no-image
            %p
              %sup *Includes: Company Name, Contact Name, Email Address, Image, Description, Website Link, and special offer for AnnaKnows visitors. Descriptions vary by exposure package&mdash;Business Listing: 150 characters, Exposure: 250 characters, Mega Exposure: 500 characters.


          .spacer
          .section.no-image
            %h1 A la Carte Options
            %h4 Button &ndash; $20
            %p Provide your own button 
            %h4 Banner &ndash; $20
            %p Provide your own banner
            %h4 Events &ndash; $100 ea.
            %p Events for non-subscribers 