- @title = " | Services"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-services.jpg"}

.listings
  .center
    .content
      .main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Our Services
            %p
              Promoting and advertising businesses to thousands of online connections at an affordable cost.
              %br
              Compare each of our exposure packages below.
      .left
        %a.container{:href => "#"}
          %h1 Business Listing
          %h3
            Business Listing*
            %br
            1 Category
            %br
            1x Social Media Post
            %br
            Special offers for AnnaKnows events
          %h3
            $25/month
            %form.paypal{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "TDPLSN926999C"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
          %h3
            $250/year
            %form.paypal{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "CXRPP9UQHBTVL"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/


      .middle
        %a.container{:href => "#"}
          %h1 Gold
          %h3 
            Business Listing*
            %br
            Social Media Links
            %br
            Monthly Promotion
            %br
            Limited Event Posting
            %br
            Special offers for AnnaKnows events
          %h3
            $75/month
            %form.paypal{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "ZLK4MRRUNRTHW"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
          %h3  
            $800/year
            %form.paypal{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "KFQRUQRUMR6JU"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/


      .right
        %a.container{:href => "#"}
          %h1 Platinum
          %h3 
            Business Listing*
            %br
            Social Media Links
            %br
            Weekly Promotion
            %br
            Unlimited Event Posting
            %br
            Top Referrals
            %br
            Special offers for AnnaKnows events
            %br
            Exclusive Monthly Gathering
          %h3
            $125/month
            %form.paypal{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "7PEGD6LZQBW3W"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_SM.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
          %h3
            $1300/year
            %form.paypal{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "G4STUDLVB63U4"}/
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/

      .main
        .content
          .section.no-image
            %p
              %sup *Includes: Company Name, Contact Name, Email Address, Image, Description, Website Link, and special offer for AnnaKnows visitors. Descriptions vary by exposure package&mdash;Business Listing: 150 characters, Exposure: 250 characters, Mega Exposure: 500 characters.


          .spacer
          .section.no-image
            %h1 A la Carte Options
            %h4 Button &ndash; $20
            %p Provide your own button 
            %h4 Banner &ndash; $20
            %p Provide your own banner
            %h4 Events &ndash; $100 ea.
            %p Events for non-subscribers 