- @title = " | Platinum Registration"
- @subtitle = ""
- @body_class = "none"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-6.jpg"}



.body
  .center
    .content
      .sidebar.right
        .text
          %h1 Questions?
          %p 
            Anna Jennings
            %br
            (713) 398 8474
            %br
            %a{:href => "mailto:annaknows@ymail.com"}annaknows@ymail.com
      

      .main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Platinum Registration
            %p Fill out the form below to register your business. Provide us with some basic company information to get started.
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "855", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/p7w5s5/", :width => "100%", :border => "none"}       
