// PERSONAL SERVICES

.section.no-image
  %h1=@link6A[0]
  %p
    %a{:href => @link6[1]} << Back of Categories

  %h4 Joygasms, LLC
  %p
    %b Ique, M.Ed.
    = " | "
    %a{:href => "http://www.joy-gasms.com", :target => "_blank"} joy-gasms.com 
    = " | "
    %a{:href => "http://www.twitter.com/joygasmsllc", :target => "_blank"} twitter.com/joygasmsllc 
    = " | "
    %a{:href => "http://www.facebook.com/joygasmsllc", :target => "_blank"} facebook.com/joygasmsllc 
    = " | "
    %a{:href =>"mailto:info@joy-gasms.com"} info@joy-gasms.com
  %img{:src => "/images/businesses/13-joygasms.jpg"}
  %p
    %b Details:
    %br
    Joygasms, LLC is a relationship and sex coaching practice that specializes in working with committed couples and commitment minded singles. You will be introduced to best practices as well as exciting experimental based activities to encourage the building of intimacy, trust and ultimately a lasting love. 
  %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
  #hide1{:style => "display:none"}
    %p
      Our consultants are extremely knowledgeable and educated in order to give you the best growth experience ever. Please visit our site for more information and to schedule your complimentary session.
  %p.hide.page-top
    %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show / Hide More
  


